{% extends 'base.html' %}

{% block title %}Choose Method
{% endblock %}

{% block content %}

		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Methods of Forming Groups</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Choose Your Methods :</h4>
						</div>
					<div class="form-body">
					<a href="/course/method1?courseId={{ courseId }}">
					<button type="button" class="btn btn-primary">By System</button></a>
					<a href="/course/method2?courseId={{ courseId }}">
                        <button type="button" class="btn btn-secondary">By Student</button></a>
					<a href="/course/method3?courseId={{ courseId }}">
					<button type="button" class="btn btn-success">By System and Student</button></a>
					<a href="/member/edit">
					<button type="button" class="btn btn-warning">Cancel</button></a>
					</div>
				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>

{% endblock %}