{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Diplay Group's Information</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Group's Information :</h4>
						</div>
                </div>

					<div class="form-body">

                        {% for foo in result %}
                            <table class="table table-striped">
  <caption>组名{{ foo.name }}</caption>
  <thead>
    <tr>
              <th>学生Id</th>

      <th>学生姓名</th>
      <th>学生邮箱</th>
    </tr>
  </thead>
  <tbody>
  {% for foo2 in foo.value %}
          <tr>
      <td>{{ foo2.id }}</td>
      <td>{{ foo2.name }}</td>
      <td>{{ foo2.email }}</td>
    </tr>


  {% endfor %}


  </tbody>
</table>

                        {% endfor %}


                        <div class="divb">
                            <div class="form-group">
                              <div class="form-group">


                                <a href="/course/display?id={{ courseId }}">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </a>

                              </div>


                        </div>
                    <!--</fieldset>
                    </form>-->

                        </div>
                    </div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>

{% endblock %}