{% extends 'base.html' %}

{% block header %}
    Edit One Item
{% endblock %}
{% block content %}
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Course Information</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Course Information :</h4>
						</div>
					<div class="form-body">

					<div class="divb">
				      <form method="post">

                          {% if result %}

                              {% else %}
                              				        <div class="form-group">
				          <label for="exampleInputTitle">Title: </label>
				          <input type="title"  name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
				      </div>


                          {% endif %}
				         <div class="form-group">
				          <label for="exampleInputpercent">Percentage(%): </label>
				          <input class="form-control" id="exampleInputGPA1" name="percentage" value="{% if result %}

				          {{ result.percentage }}

				          {% endif %}" placeholder="Enter Percentage">
				        </div>

                        <div class="row">
                            <div class="col">
                                <!-- Message shows here -->
                                <strong>{{ message }}</strong>
                            </div>
                        </div>

						<button type="submit" class="btn btn-default">OK</button>

					<a href="/subItem">
						<button type="button" class="btn btn-default">Cancel</button>
					</a>

                      </form>


					</div>

				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>

{% endblock %}