{% extends 'base.html' %}
{% block title %}
Edit Items
{% endblock %}


{% block content %}
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Edit Items</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Edit Items:</h4>
						</div>
					<div class="form-body">

					<div class="divb">



				      <form>
				        <div class="form-group">


							  <a href="/subItem/edit?courseId={{ courseId }}">
								<button type="button" class="btn btn-default">Add</button>
                            </a>

                            <a href="/teacher/display?id={{ courseId }}">
                                <button type="button" class="btn btn-default">Back</button>
                            </a>

					</div>


                      </form>

      {% if result %}
          <table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Percentage</th>
			<th>option</th>
		</tr>
	</thead>
	<tbody>

    {% for foo in result %}
    		<tr>
			<td>{{ foo.title }}</td>
			<td>{{ foo.percentage }}</td>
			<td>							<a href="/subItem/edit?title={{ foo.title }}&courseId={{ courseId }}">	<button type="button" class="btn btn-default">Modify</button></a>
                <a href="/subItem/delete?title={{ foo.title }}&courseId={{ courseId }}"><button type="button" class="btn btn-default" style="margin-left: 20px">Delete</button></a>
</td>
		</tr>

    {% endfor %}


	</tbody>
</table>


      {% endif %}

				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>
		<!--footer-->
		<div class="footer">
		   <p>Copyright &copy; 2018.Company name All rights reserved.More Templates 1002G4</P>
	   </div>
        <!--//footer-->
	</div>

{% endblock %}