{% extends 'base.html' %}

{% block title %}
Student
{% endblock %}

{% block content %}
    		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Float band</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Float band :</h4>
						</div>
					<div class="form-body">

					<div class="divb">
				      <form>
				        <div class="form-group">
                        <h4>The average GPA is: </h4><br>
				          <label for="exampleInputTitle">Please enter the float band: </label>
				          <input type="band" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the float band">
				      </div>

                        <div class="row">
                            <div class="col">
                                <!-- Message shows here -->
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
					<a href="otherday">
						<button type="button" class="btn btn-default">Submit</button>
					</a>
					<a href="import.html">
						<button type="button" class="btn btn-default">Cancel</button>
					</a>

                      </form>

					</div>
				<!--</fieldset>
                </form>-->


					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>

{% endblock %}