{% extends 'base.html' %}

{% block title %}
Import
{% endblock %}

{% block content %}
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Operations</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Choose Your Operation :</h4>
						</div>
					<div class="form-body">
					<a href="importindividual.html">
					<button type="button" class="btn btn-primary">Individual Student</button></a>
					<a href="/teacher/import/class">
                        <button type="button" class="btn btn-secondary">Class</button></a>
					<a href="importcourse.html">
					<button type="button" class="btn btn-success">Back</button></a>
					</div>
				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>

{% endblock %}