{% extends 'base.html' %}

{% block title %}
    method2

{% endblock %}


{% block content %}
    		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Methods of Forming Groups</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Choose Your Methods :</h4>
						</div>
					<div class="form-body">
					<a href="/teacher/by/gpa">
					<button type="button" class="btn btn-primary">By GPA</button></a>
					<a href="/teacher/by/student">
					<button type="button" class="btn btn-secondary">Group</button></a>
					<a href="/member/choose/method">
					<button type="button" class="btn btn-warning">Cancel</button></a>
					</div>
				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>


{% endblock %}