{% extends 'base.html' %}

{% block title %}
    Teacher

{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="main-page">
            <h3 class="title1">Teacher Main Page</h3>

            <!-- scoring rate table start-->
            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
                    <div class="form-title">
                        <h4>Choose Your Operation :</h4>
                    </div>
                    <div class="form-body">
                        <a href="/course">
                            <button type="button" class="btn btn-primary">Import</button>
                        </a>


                        <a href="/user/logout">
                            <button type="button" class="btn btn-warning">Logout</button>
                        </a>


{% if result %}
          <table class="table table-striped">
	<thead>
		<tr>
			<th>Course Name</th>
			<th>option</th>
		</tr>
	</thead>
	<tbody>

    {% for foo in result %}
    		<tr>
			<td>{{ foo.courseName }}</td>
			<td>							<a href="/course/display?id={{ foo.CourseId }}">	<button type="button" class="btn btn-default">Option</button></a>
            </a>
</td>
		</tr>

    {% endfor %}





	</tbody>
</table>
                {% endif %}
                    </div>
                    <!--</fieldset>
                    </form>-->


                </div>
            </div>


            <!-- scoring rate table end-->

            <!-- Update start-->
            <div class=" form-grids row form-grids-right">

            </div>
        </div>
        <!-- Update end-->
    </div>

{% endblock %}