{% extends 'base.html' %}

{% block title %}
    Teacher
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="main-page">
            <h3 class="title1">Teacher Main Page</h3>

            <!-- scoring rate table start-->
            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
                    <div class="form-title">
                        <h4>Choose Your Operation :</h4>
                    </div>
                    <div class="form-body">
                        <a href="/course">
                            <button type="button" class="btn btn-primary">Import</button>
                        </a>
                        <a href="/teacher/display">
                            <button type="button" class="btn btn-secondary">Edit Items</button>
                        </a>
                        <a href="/teacher/display">
                            <button type="button" class="btn btn-success">Form Groups</button>
                        </a>
                        <a href="/teahcer/export">
                            <button type="button" class="btn btn-danger">Export</button>
                        </a>
                        <a href="/user/logout">
                            <button type="button" class="btn btn-warning">Logout</button>
                        </a>
                    </div>
                    <!--</fieldset>
                    </form>-->
                </div>
            </div>


            <!-- scoring rate table end-->

            <!-- Update start-->
            <div class=" form-grids row form-grids-right">

            </div>
        </div>
        <!-- Update end-->
    </div>

{% endblock %}