{% extends 'base.html' %}

{% block content %}

		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Evaluate Leader</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Evaluate Your Leader :</h4>
						</div>
					<div class="form-body">

					<div class="divb">
				      <form method="post">
				        <div class="form-group">
                            <input type="radio" name="con" value="2">Very Good(2)<br>
                            <input type="radio" name="con" value="1">Good(1)<br>
                            <input type="radio" name="con" value="0">Fair(0)<br>
                            <input type="radio" name="con" value="-1">Bad(-1)<br>
                            <input type="radio" name="con" value="-2">Very Bad(-2)<br>
                      </div>

                        <div class="row">
                            <div class="col">
                                <!-- Message shows here -->
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
						<button type="submit" class="btn btn-default">Submit</button>

					<a href="/student/display">
						<button type="button" class="btn btn-default">Cancel</button>
					</a>
                      </form>

					</div>
				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>
{% endblock %}