{% extends 'base.html' %}

{% block content %}

		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Evaluate Leader</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Evaluate Your Leader :</h4>
						</div>
					<div class="form-body">

					<div class="divb">


	                            <table class="table table-striped">
  <thead>
    <tr>
              <th>学生姓名</th>

      <th>评估</th>
    </tr>
  </thead>
  <tbody>
  {% for foo2 in result %}
          <tr>
      <td>{{ foo2.name }}</td>
      <td>	<a href="/member/evaluate?id={{ foo2.id }}">
						<button type="button" class="btn btn-default">评估</button>
					</a></td>
    </tr>


  {% endfor %}


  </tbody>
</table>
				    	</div>
				<!--</fieldset>
                </form>-->
					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>

{% endblock %}