{% extends 'base.html' %}

{% block content %}

		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">View Invitation</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Invitation :</h4>
						</div>

                        <table class="table table-striped">
  <thead>
    <tr>
      <th>information</th>
      <th>option</th>
    </tr>
  </thead>
  <tbody>
  {% for foo in result %}

      <tr>
            <td>{{ foo.info }}邀请你加入他的小组</td>
      <td><a href="/student/join?id={{ foo.teamId }}">
                        <button type="button" class="btn btn-primary">Join</button></a></td>

</tr>

  {% endfor %}

  </tbody>
</table>



                        <div class="row">
                            <div class="col">
                                <!-- Message shows here -->
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>

{% endblock %}