{% extends 'base.html' %}
{% block title %}

Vote Leader
{% endblock %}
{% block content %}
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">Vote Leader</h3>

				<!-- scoring rate table start-->
				<div class=" form-grids row form-grids-right">
					<div class="widget-shadow " data-example-id="basic-forms">
					<!--<form accept-charset="UTF-8" role="form" action="#" method="post">
                    <fieldset>-->
						<div class="form-title">
							<h4>Vote a Leader in Your Team :</h4>
						</div>
					<div class="form-body">

					<div class="divb">
				      <form method="post">
				        <div class="form-group">
				          <label for="exampleInputTitle">Leader Name: </label>
				          <input type="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Leader's Name">
				      </div>

                        <div class="row">
                            <div class="col">
                                <!-- Message shows here -->
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
						<button type="submit" class="btn btn-default">Submit</button>
					<a href="/student">
						<button type="button" class="btn btn-default">Cancel</button>
					</a>
                      </form>
					</div>
				<!--</fieldset>
                </form>-->

					</div>
				</div>

				<!-- scoring rate table end-->

				<!-- Update start-->
				<div class=" form-grids row form-grids-right">

					</div>
				</div>
				<!-- Update end-->
			</div>
		</div>

{% endblock %}